version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: cartepro
      POSTGRES_PASSWORD: cartepro
      POSTGRES_DB: cartepro
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db
    command: python run.py

volumes:
  db_data:

